################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug/engine2_dx11.tlog
/Debug/engine2_dx11.log
/Debug
/x64/Debug
/x64/Release
/log.txt
log.txt
