################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug/engine2_dx11.tlog
/Debug/engine2_dx11.log
/Debug
